 #navbar {
     position: fixed;
     background-color: #e7ede7;
 }

 #nav {
     width: 100%;
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 #logo img {
     width: 138px;
     height: 86px;
     padding-left: 30px;
 }

 .user img {
     width: 50px;
     height: 50px;
     padding-left: 30px;

 }

 .cartlogo img {
     width: 40px;
     height: 40px;
     margin-left: -150px
 }

 #search {
     padding-left: 20%;
     outline: none;
 }

 #inp {
     border: none;
     background-color: rgb(215, 214, 214);
     border-radius: 11px;
     height: 30px;
     width: 658px;
 }

 #container {
     padding: 30px;
 }

 .dropbtn {
     background-color: #e7ede7;
     color: black;
     padding: 16px;
     font-size: 16px;
     border: none;
     cursor: pointer;
     margin-left: 50px;

 }

 .dropdown {
     position: relative;
     display: inline-block;
 }

 .dropdown-content {
     display: none;
     position: absolute;
     background-color: #f1f1f1;
     min-width: 200px;
     overflow: auto;
     box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
     z-index: 1;
 }

 .dropdown-content a {
     color: black;

     text-decoration: none;
     display: block;
 }

 .dropdown a:hover {
     background-color: #ddd;
 }

 .show {
     display: block;
 }

 #footer1 {
     width: 100%;
     display: grid;
     grid-template-columns: repeat(5, 1fr);
     margin-top: 70px;
     gap: 1px;
     padding-left: 20px;
     padding-top: 15px;
 }

 #footer1 img {
     width: 30px;
     height: 30px;
 }

 #footer2 {
     width: 100%;
     display: flex;
     justify-content: space-around;
 }

 #footer2 a {
     text-decoration: none;
     color: black;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }

 #footer2 h4 {
     font-weight: bold;
 }

 #footer {
     background-color: aliceblue;

 }

 #footer3 {
     width: 100%;
     display: flex;
     background-color: aliceblue;
 }

 #footer3 img {
     width: 50px;
     height: 50px;
     padding-left: 50px;
 }

 #footer3 h4 {
     color: black;
     text-decoration: none;
     font-size: 20px;
 }

 #main-footer {
     margin-top: -75px;
 }

 body {
     font-family: Arial, Helvetica, sans-serif;
     margin: 0px;
     padding: 0px;
 }

 * {
     box-sizing: border-box;
 }


 /* Write all necessery css here  */

 .container {
     padding: 16px;
     background-color: white;

 }


 input[type=text],
 input[type=password],
 input[type=number] {
     width: 100%;
     padding: 15px;
     margin: 5px 0 22px 0;
     display: inline-block;
     border: none;
     background: #f1f1f1;

 }

 input[type=text]:focus,
 input[type=password]:focus,
 input[type=number]:focus {
     background-color: #ddd;
     outline: none;

 }


 #registerbtn {
     background-color: #04AA6D;
     color: white;
     padding: 16px 20px;
     margin: 8px 0;
     border: none;
     cursor: pointer;
     width: 100%;
     opacity: 0.9;
 }

 #registerbtn:hover {
     opacity: 1;
 }


 a {
     color: dodgerblue;
 }


 .signin {
     background-color: #f1f1f1;
     text-align: center;
 }

 .log_heading {
     margin-left: 20px;
 }

 #input {

     width: 70%;
     margin: auto;
     margin-top: 100px;
 }

 #nav1 {
     top: 20%;
 }

 #inpform {
     padding-top: 111px;
 }