*{
    box-sizing: border-box;
}

#ProductBody{
    border: 2px solid red;
    /* width:90%; */
    display: flex;
}

#product{
    border-left: 1px solid ;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 32px;
    padding: 32px;
    /* margin-top: 32px; */
}
#product>div{
    /* border: 2px solid ; */
    text-align: center;
    padding: 12px;
    /* display: grid;
    grid-template-columns: repeat(4,1fr); */
    
}
#product>div:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.card>img{
    /* border: 2px solid ; */
    width: 100%;
    /* display: grid;
    grid-template-columns: repeat(4,1fr); */
    
}
#buy{
    margin: 12px;
}

#foot{
    /* border: 2px solid; */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 12px;
    background-color: antiquewhite;
    margin: 5px;
}

  .li {
    background-color: rgb(253, 196, 122);
    margin: 10px;
    position: relative;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    overflow-y: auto;
    border-radius: 10px;
    text-align: left;
    
  }
  .but.active ~ .li {
    /* here is toggled properties that is done after clicking the button */
   height: auto;
   padding: 12px;
  }

  .but{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 12px;
    border-top: 1px solid rgb(81, 81, 81);
    border-bottom: 1px solid rgb(81, 81, 81);
    margin: 12px;
  }
  .he{
    background-color: aqua;
    border-radius: 5px;
    border-radius: 1px solid;
  }
 .buy{
    border: 1px solid;
    margin: 12px;
    border-radius: 5px;
    background-color: rgb(239, 105, 105);
 }
 .cart{
    border: 1px solid;
    margin: 12px;
    border-radius: 5px;
    background-color:rgb(32, 109, 241) ;
 }
 .buy:hover{
    background-color:rgb(241, 178, 32) ;
 }
 .cart:hover{
    background-color:rgb(32, 241, 53) ;
 }
 .page{
    border: 1px solid;
    margin: 5px;
    border-radius: 5px;
    padding: 2px 12px;
 }
 .page:hover{
 background-color: rgb(105, 102, 102);
 color: white;
 }
#filterPart{
  padding: 2px 12px;
  margin: 2px 12px;
}
#headerOfProduct{
  padding: 12px;
  border-left: 1px solid ;
  margin-top: 12px;
}
#headerOfProduct>img{
width: 100%;
}